<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="container" style="position: relative; ">
        <div class="dropdown" style="position: absolute; top: 30px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrer par poste
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    
        <div class="dropdown" style="position: absolute; top: 30px; margin-left:210px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrer par ville
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </div>
    
    
    <div  class="container" style="margin-top: 180px;" >
        <!-- Première carte -->
        <div class="col-xs-6 col-sm-4" style="position: relative; ">
            <div class="card" >
         
                <div class="card-content">
                    <h4 class="card-title">
                        <a href="">Ingenieur DevOps</a>
                    </h4>
                    <hr style="border-color: white;">
                    <ul class="card-paragraphe">
                        <li>&#8226; Understanding your product performance can shed light on what drives your business success.</li>
                        <li>&#8226; Identify your top sellers and highest profit margin products.</li>
                        <li>&#8226; Our platform provides detailed insights into your product catalog.</li>
                    </ul>
                </div>
                <div class="card-read-more">
                    <a href="/products-dashboard" class="btn btn-link btn-block">Read More</a>
                </div>
            </div>
        </div>

        <!-- Deuxième carte (copiez et collez ce bloc pour chaque offre d'emploi) -->
        <div class="col-xs-6 col-sm-4" >
            <div class="card">

                <div class="card-content">
                    <h4 class="card-title">
                        <a href="">Ingenieur DevOps</a>
                    </h4>
                    <hr style="border-color: white;">
                    <ul class="card-paragraphe">
                        <li>&#8226; Understanding your product performance can shed light on what drives your business success.</li>
                        <li>&#8226; Identify your top sellers and highest profit margin products.</li>
                        <li>&#8226; Our platform provides detailed insights into your product catalog.</li>
                    </ul>
                </div>
                <div class="card-read-more">
                    <a href="/products-dashboard" class="btn btn-link btn-block">Read More</a>
                </div>
            </div>
        </div>

        <!-- Troisième carte (copiez et collez ce bloc pour chaque offre d'emploi) -->
        <div class="col-xs-6 col-sm-4">
            <div class="card">
          
                <div class="card-content">
                    <h4 class="card-title">
                        <a href="">Ingenieur DevOps</a>
                    </h4>
                    <hr style="border-color: white;">
                    <ul class="card-paragraphe">
                        <li>&#8226; Understanding your product performance can shed light on what drives your business success.</li>
                        <li>&#8226; Identify your top sellers and highest profit margin products.</li>
                        <li>&#8226; Our platform provides detailed insights into your product catalog.</li>
                    </ul>
                </div>
                <div class="card-read-more">
                    <a href="/products-dashboard" class="btn btn-link btn-block">Read More</a>
                </div>
            </div>
        </div>

       
    </div>
</body>
</html>
